@model DAB2.models.Helprequest

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Helprequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HelprequestId" class="control-label"></label>
                <input asp-for="HelprequestId" class="form-control" />
                <span asp-validation-for="HelprequestId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsOpen" class="control-label"></label>
                <input asp-for="IsOpen" class="form-control" />
                <span asp-validation-for="IsOpen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assignment" class="control-label"></label>
                <input asp-for="AssignmentId" class="form-control" />
                <span asp-validation-for="AssignmentId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="StudentId" />
            <input type="hidden" asp-for="AssignmentId" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
