@model DAB2.models.Teacher

@{
    ViewData["Title"] = "Get";
}

<h1>Find where to help students</h1>

<h4>Search by teacher name and course name</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GetExerciseHelpWhere">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                    <label asp-for="HelprequestId" class="control-label"></label>
                    <input asp-for="HelprequestId" class="form-control" />
                    <span asp-validation-for="HelprequestId" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <select asp-for="Name" class="form-control" asp-items="ViewBag.Name"></select>
            </div>
            <div class="form-group">
                <label asp-for="CourseId" class="control-label"></label>
                <select asp-for="CourseId" class="form-control" asp-items="ViewBag.CourseId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="GetExerciseHelpWhere" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


